body {
  background-color: white;
  margin: 0;
}

*{
  margin: 0;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header div {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
}

header div a {
  color: rgb(19, 19, 19);
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: rgb(42, 42, 42);
  text-decoration: none;
}

/* Styles for the Homepage Hero About section */
#about {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  align-items: center;
  padding: 4rem;
  background-color: #dbeaff;
}

#about > div{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#about img {
  width: 50%;
  height: auto;
}

.b-text {
  color: #0671e0;
  font-size: 1.5rem;
}

#about a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* Hero Buttons ================================================*/
.buttons {
  display: flex;
  gap: 2rem;
}

.primary {
  color: white;
  background-color: #2662e8;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.secondary {
  color: #2662e8;
  background-color: white;
  padding: 1rem 2rem;
  border: 2px solid #2662e8;
  border-radius: 1rem;
}

/* Styles for the Project Section ========================================*/
#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
}

#projects > div {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-around;
  flex-direction: row;
}

#projects > div > div {
  padding: 2rem;
  border: 2px solid #dbeaff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#projects img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.project-badge{
  margin-top: 1rem;
}

#projects span{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border-radius: 1rem;
    background-color: #dbeaff;
    color: #2662e8;
    padding: 0.5rem 1rem;
}

.project-link{
    font-family: "Open Sans", sans-serif;
    margin-top: 1.5rem;
    font-weight: 700;
}

/* My Tech Stacks Section ===========================================================*/
#skills{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: #dbeaff;
}

#skills div{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#skills a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #2662e8;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 2px solid #2662e8;
  border-radius: 1rem;
  padding: 2rem;
}

#skills svg{
  width: 3rem !important;
  height: 3rem;
}


/* Styles for the CONTACT PAGE */

#contact-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dbeaff;
  width: 100%;
  height: 80vh;
  padding: 4rem 0;
}

#contact-form > div:nth-of-type(2){
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
}

form{
  font-family: "Open Sans", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input{
  border: 2px solid rgb(238, 238, 238);
  border-radius: 0.5rem;
  width: 100% !important;
  font-size: 1rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5rem;
}

form textarea{
  border: 2px solid rgb(238, 238, 238);
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5rem;
}

.submit-btn{
  background-color: #2662e8;
  color: #fff;
  padding: 1rem;
  font-weight: 700;
}

.input-height{
  height: 36px;
}

/* Styles for contact info section in CONTACT Page =================================*/
#contact-info{
  padding: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#contact-info p{
  border: 2px solid #2662e8;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  font-weight: 700;
}


#socials{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

#socials div{
  display: flex;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;
}

#socials div a{
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #dbeaff;
  border-radius: 1rem;
}



/* General Elements Styles =============================================== */
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}
